/* ==========================================================================
   #ICON-TEXT-ALIGNER-UTILITIES
   ========================================================================== */

.u-icon-textAligner {
  display: flex;
  align-items: center;

  .c-icon {
    color: inherit;
    flex-shrink: 0;
  }
}
