/* ==========================================================================
   #FLEX-ALIGNMENT-UTILITIES
   ========================================================================== */

.u-flex-alignment {
  display: flex;
  flex-wrap: wrap;

  .align-center {
    margin: auto;
    align-self: center;
  }

  .align-left {
    margin-right: auto;
    align-self: center;
  }

  .align-right {
    margin-left: auto;
    align-self: center;
  }

  /* Align x only */
  .align-xcenter {
    margin-right: auto;
    margin-left: auto;
  }

  .align-xleft {
    margin-right: auto;
  }

  .align-xright {
    margin-left: auto;
  }

  /* Align y only */
  .align-ycenter {
    align-self: center;
  }

  .align-ytop {
    align-self: flex-start;
  }

  .align-ybottom {
    align-self: flex-end;
  }
}
