/* ==========================================================================
   #BG-COLOR-UTILITIES
   ========================================================================== */

.u-bgColor-grayDark {
  background-color: var(--gray-10) !important;
}

.u-bgColor-primary {
  background-color: var(--color-primary) !important;
}

.u-bgColor-accent {
  background-color: var(--color-accent) !important;
}

.u-bgColor-dark {
  background-color: var(--color-dark) !important;
}

.u-bgColor-light {
  background-color: var(--color-light) !important;
}
