////
/// Columns block.
///
/// @group  Blocks
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////

.wp-block-columns {
  display: flex;

  // Add styles based on the number of columns. Supports 2-6 columns.
  &.has-2-columns {
  }
}

// Individual columns.
.wp-block-column {
  flex: 1;

  @media (max-width: $lg) {
    margin-bottom: 1em;
  }

  h3 {
    margin: 0 0 1em 0;
  }
}

// Editor specific styling. Make sure columns span correctly.
.editor-inner-blocks {
  flex: 1;
}
