////
/// Image block.
///
/// @group  Blocks
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////

.wp-block-image {
  width: fit-content;
  max-width: 100%;

  img {
    max-width: 100%;
  }

  &.is-resized {
    width: min-content;

    // Emulate min-content for Edge and IE11
    display: -ms-inline-grid;
    -ms-grid-columns: min-content;

    figcaption {
      -ms-grid-row: 2;
    }

    img {
      max-width: none;
    }
  }

  figcaption {
  }

  &.alignfull {
    width: 100%;
    margin: 0;

    @media (min-width: $md) {
      padding: 0 20px;
    }
 
    img {
      max-height: 145px;
      object-fit: cover;

      @media (min-width: $md) {
        border-radius: 10px;
        max-height: 450px;
      }
    }
  }

  &.alignwide {
    @extend .container;

    img {
      max-height: 200px;
      object-fit: cover;
      border-radius: 10px;

      @media (min-width: $md) {
        max-height: 600px;
      }
    }
  }
}
