a {
  text-decoration: none;

  @include basicTransition(all);

  &:visited {
  }

  @include onEvent {
  }
}

p a {
  color: color(brand);
  font-weight: 500;
}

a.link--arrow {
  &:after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.6185 0.607836C17.7846 0.460799 17.9415 0.460799 18.0892 0.607836L23.8753 6.39742C24.0414 6.54446 24.0414 6.6915 23.8753 6.83853L18.0892 12.6281C17.9415 12.7752 17.7846 12.7752 17.6185 12.6281L17.0648 12.0767C17.0094 12.0216 16.9817 11.9481 16.9817 11.8562C16.9817 11.7643 17.0094 11.6816 17.0648 11.608L21.356 7.33478H0.724799C0.503318 7.33478 0.392578 7.22451 0.392578 7.00395V6.23201C0.392578 6.01145 0.503318 5.90117 0.724799 5.90117H21.356L17.0648 1.62791C16.9172 1.46249 16.9172 1.30626 17.0648 1.15923L17.6185 0.607836Z' fill='%23313131'/%3E %3C/svg%3E ");
    margin-left: 0.5em;
    transition: 0.3s;
  }

  &:hover {
    &:after {
      margin-left: 0.75em;
    }
  }

  &-inside {
    p:after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M17.6185 0.607836C17.7846 0.460799 17.9415 0.460799 18.0892 0.607836L23.8753 6.39742C24.0414 6.54446 24.0414 6.6915 23.8753 6.83853L18.0892 12.6281C17.9415 12.7752 17.7846 12.7752 17.6185 12.6281L17.0648 12.0767C17.0094 12.0216 16.9817 11.9481 16.9817 11.8562C16.9817 11.7643 17.0094 11.6816 17.0648 11.608L21.356 7.33478H0.724799C0.503318 7.33478 0.392578 7.22451 0.392578 7.00395V6.23201C0.392578 6.01145 0.503318 5.90117 0.724799 5.90117H21.356L17.0648 1.62791C16.9172 1.46249 16.9172 1.30626 17.0648 1.15923L17.6185 0.607836Z' fill='%23313131'/%3E %3C/svg%3E ");
      margin-left: 4px;
      transition: 0.3s;
    }
  
    &:hover {
      p:after {
        margin-left: 8px;
      }
    }
  }
}