<div id="snackbar">

	<div class="link--bold-S">

		<span id="snackbar--text1">
			This item is low on stock, better buy<br>
			it now or never. Act now.</span>
		<a href="#ok" id="snackbar--text2">Okay</a>

	</div>

</div>
