<ul class="list-container--main">

	<li class="list-container">
		<h6>Category name</h6>
	</li>


	<li class="list-container">
		<p class="body--L list3">Subcategory sublink</p>
	</li>


	<li class="list-container">
		<p class="body--L list3">Subcategory sublink</p>
	</li>


	<li class="list-container">
		<p class="body--L list3">Subcategory sublink</p>
	</li>


	<li class="list-container">
		<p class="body--L list3">Subcategory sublink</p>
	</li>

</ul>
