<div class="list4">

	<div class="list4 list4--icons">
		{% include '01-icons/check.twig' %}<br>
		{% include '01-icons/check.twig' %}<br>
		{% include '01-icons/check.twig' %}<br>
	</div>

	<p class="link--bold-S">
		Add 1 uppercase letter<br>
		Add minimum of 8 characters<br>
		Add one number<br>
	</p>

</div>
