<ul class="list-container--main">

	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit.</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Interdum eu orci, tincidunt imperdiet.</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Tellus, etiam adipiscing mauris purus<br> nunc tempus, duis in.</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Tellus, etiam adipiscing mauris purus<br> nunc tempus, duis in.</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Tellus, etiam adipiscing mauris purus<br> nunc tempus, duis in.</p>
	</li>
	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Tellus, etiam adipiscing mauris purus<br> nunc tempus, duis in.</p>
	</li>
	<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="list1">Tellus, etiam adipiscing mauris purus<br> nunc tempus, duis in.</p>
	</li>

</ul>
