<ul class="list-container--main">
<li class="list-container">
		{% include '01-icons/list-dot.twig' %}
		<p class="link--bold-S">20.05.2020 Transport to destination</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot-2.twig' %}
		<p class="link--bold-S list-container--lightercolor">19.05.2020 Processed</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot-2.twig' %}
		<p class="link--bold-S list-container--lightercolor">19.05.2020 Arrival to Facility</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot-2.twig' %}
		<p class="link--bold-S list-container--lightercolor">19.05.2020 Order shipped</p>
	</li>


	<li class="list-container">
		{% include '01-icons/list-dot-2.twig' %}
		<p class="link--bold-S list-container--lightercolor">19.05.2020 Order received</p>
	</li>
    </ul>