/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */
:root {
  --grid-columns: 12;
  --gap-horizontal: 10px;
  --gap-vertical: var(--gap-horizontal);
  --grid-gap: var(--gap-horizontal);
}
