/* ==========================================================================
   #BREAKPOINTS-VARIABLES
   ========================================================================== */

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 980px;
$desktop: 1280px;
$xl: 1920px;
$two-k: 2400px;
