/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

$basepx: 14px;

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=flex");

$primaryFont: "Roboto";

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: flex;
  color: color(brand);
}