<div class="av-bonus-card">

	<div class="av-bonus-card--left">
		<div class="link--bold-S">Check availability</div>
		<div class="body--XS">View availability in stores</div>
	</div>

	<div class="av-bonus-card--bar"></div>

	<div class="av-bonus-card--right">
		<div class="link--bold-S">Earn bonus money</div>
		<div class="body--XS">Buy this and earn 6.5€</div>
	</div>

</div>
