<div class="co-acc-card">

	<div class="co-acc-card--rect"></div>
	<p class="co-acc-card--title">Facebook</p>
	<p class="co-acc-card--text">Explain why and what are the benefits, like<br>
		saving time and stuff like that. Be creative.</p>

	<label class="onoff">
		<input type="checkbox" checked>
		<span class="slider round"></span>
	</label>

</div>
