<div class="delivery-payment">

	<span class="circle--7"></span>


	<div class="link--bold-S delivery-payment--title">Delivery method selected</div>

	<a href="#edit" class="body--S delivery-payment--edit">Edit</a>


	<div class="body--XS delivery-payment--info">Package will be delivered to Fake<br>
		street 10, 10140 Tallinn , Estonia.<br>To Jennifer Helumium,<br>
		hello@helumium.com, 12345678</div>

</div>
