<div>
<img src="">
<p class="link--bold-L">Helumium Store, Tallinn, Mall</p>
<br>
<a href="mailto:hello@helumium.com" class="body--L">hello@helumium.com</a>
<a href="tel:+37212345678" class="body--L">+372 12345678</a>
<p class="body--L">Fake street 10, 10140 Tallinn, Estonia</p>
<br>
<a href="#map" class="body--L">View on map</a>
</div>