<div class="sm-field">
	<div>
		<button type="button" id="one" class="ghost body--XS">
			<span>XS</span>
			{% include '01-icons/chevron-down.twig' %}</button>
	</div>
	<div>
		<button type="button" id="two" class="ghost body--S">
			<span>Size</span>
			{% include '01-icons/down.twig' %}</button>
	</div>


</div>
