<div class="fixed-cart-entrance">

	<div class="price">
		<p>
			<span class="link--bold-S">Total (FREE shipping)</span>
			<span class="body--XS d-flex flex-row-reverse">328,00€</span>
		</p>
		<hr>
	</div>


	<div class="choices">

		<label class="checkbox">
			<span class="checkbox__input">
				<input type="checkbox" name="checkbox"/>
				<span class="checkbox__control">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true" focusable="false">
						<path fill="none" stroke="currentColor" stroke-width="3" d="M1.73 12.91l6.37 6.37L22.79 4.59"/>
					</svg>
				</span>
			</span>
			<p class="body--XS">Checkout as a guest</p>

		</label>


		<label class="checkbox">
			<span class="checkbox__input">
				<input type="checkbox" name="checkbox" checked/>
				<span class="checkbox__control">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true" focusable="false">
						<path fill="none" stroke="currentColor" stroke-width="3" d="M1.73 12.91l6.37 6.37L22.79 4.59"/>
					</svg>
				</span>
			</span>
			<p class="body--XS">Checkout with account &amp earn 16.40 € bonus</p>

		</label>

	</div>

	<button type="button" class="main">Proceed to checkout</button>

</div>
