<div class="fixed-buy-bar">

	<div id="first">
		<button type="button" class="ghost wish-btn">{% include '01-icons/wishlist.twig' %}</button>
		<button type="button" class="main add-btn">Add to bag</button>
	</div>

	<div id="second">
		<button type="button" class="ghost qty-btn">{% include '01-icons/minus.twig' %}<span class="link--bold-L">1</span>{% include '01-icons/plus.twig' %}</button>
		<button type="button" class="ghost">{% include '01-icons/wishlist.twig' %}</button>
		<button type="button" class="main add-btn--2">Add to bag</button>
	</div>

</div>
