body {
  text-rendering: geometricPrecision;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  transition: 0.25s;

  &:hover {
    text-decoration: none;
  }
}

