<div class="tabs">
	<input type="radio" name="tabs" id="tab1" checked/>
	<label for="tab1">Women</label>

	<input type="radio" name="tabs" id="tab2"/>
	<label for="tab2">Men</label>

	<input type="radio" name="tabs" id="tab3"/>
	<label for="tab3">Kids</label>
	<div class="tabs--border"></div>

	<div class="tab content1">Items for women</div>
	<div class="tab content2">Items for men</div>
	<div class="tab content3">Items for kids</div>

</div>
