<body style="text-align:center; margin-top:10%;">

<div class="tooltip">Click/hover over here
  <span class="tooltiptext">Get -10€ off on the next order you make and earn bonus money too</span>
</div>

</body>