.hint {
    font-family: Satisfy;
    color: color(brand);
    font-size: 18px;
    line-height: 1.4;
    transform: rotate(-26.69deg);
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10%;
    svg {
      transform: rotate(40deg);
      height: 35.4px;
      width: 74.17px;
      top: 79px;
    }
  }