<div class="title-block">

	<h2--title-block>Home</h2--title-block>

	<img style="background: #ffffff; position: absolute; right: 350px;top: 50px;" src="/images/he-logo.svg" alt="Helumium logo"/>


</div>