<div class="share-social">

<h6 class="share-social--text">Sharing is caring</h6>
<span class="circle" id="circle-list1"></span>
<span class="circle"></span>
<span class="circle" id="circle-list3"></span>
</div>