<div class="timeline">
	<div class="tl-circles--first">
		<div class="content"></div>
	</div>
	<div class="tl-circles right">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles left">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles right">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles left">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles right">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles left">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
	<div class="tl-circles right">
		<div class="content">
			<h6>2019</h6>
			<p class="body--L">Additional info to<br>
				really nail it</p>
		</div>
	</div>
</div>
