<script>
	/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function (event) {
if (! event.target.matches('.dropbtn')) {
var dropdowns = document.getElementsByClassName("dropdown-content");
var i;
for (i = 0; i < dropdowns.length; i++) {
var openDropdown = dropdowns[i];
if (openDropdown.classList.contains('show')) {
openDropdown.classList.remove('show');
}
}
}
}
</script>

<div class="dropdown">
	<div onclick="myFunction()" class="dropbtn">Sort by price low to high
		{% include '01-icons/down.twig' %}
	</div>
	<div id="myDropdown" class="dropdown-content">
		<a href="#">Sort by price high to low</a>
	</div>
</div>
