/* Dropdown Button */
.dropbtn {
  @extend .body--S;
  color: color(brand);
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 1%;
  margin-left: 3%;
  svg {
    position: absolute;
    margin-top: -1%;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;

  a {
    display: block;

    &:hover {
      background-color: #ffffff;
    }
  }
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
