.z-index {
  &--0 {
    z-index: 0;
  }
  &--1 {
    z-index: 1;
  }
}

.editor-block-list__layout
  > .editor-block-list__block
  > .editor-block-list__block-edit {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.editor-block-list__layout
  .editor-block-list__block.is-selected
  > .editor-block-list__block-edit::before {
  outline: 0 !important;
}

@media (min-width: 600px) {
  .editor-block-list__block .editor-block-contextual-toolbar {
    transform: translateY(-38px) !important;
  }
}

.wp-block {
  max-width: none !important;
}

.edit-post-visual-editor .editor-block-list__block {
  margin-left: -45px !important;
  margin-right: -45px !important;
}

body:not(.wp-admin) {
  .site-content {
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
  }

  &.loaded {
    .site-content {
      opacity: 1;
      visibility: visible;
    }
  }

  &.customize-support {
    margin-top: -32px;

    #wpadminbar {
      top: -27px;
      opacity: 0.2;
      overflow: hidden;
      @include transition(0.3s ease-in-out);

      &:hover {
        top: 0;
        opacity: 1;
      }
    }
    @media screen and (max-width: 782px) {
      margin-top: -46px;

      #wpadminbar {
        top: -41px;
      }
    }
  }
}

.img-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

section {
  position: relative;
  z-index: 1;
}
