<div id="cbox">
	<label class="checkbox-2">
		<span class="checkbox__input-2">
			<input type="checkbox" name="checkbox-2"/>
			<span class="checkbox__control-2">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" aria-hidden="true" focusable="false">
					<path fill="none" stroke="currentColor" stroke-width="3" d="M1.73 12.91l6.37 6.37L22.79 4.59"/>
				</svg>
			</span>
		</span>
		<p class="body--S">I agree to the&nbsp;

			<a class="underline-link" href="#terms">Terms &amp; Conditions</a>
		</p>


	</label>
</div>
