<div>
	<div class="controls-buttons">
		<div>
			<button type="button" class="ghost link--bold-L" style="width: 88px; height:40px">{% include '01-icons/minus.twig' %}&nbsp;1&nbsp;{% include '01-icons/plus.twig' %}</button>
		</div>

		<div>
			<button type="button" class="ghost body--XS" style="width: 64px;height: 40px;"><span>XS</span>
				{% include '01-icons/chevron-down.twig' %}</button>
		</div>
		<div>
			<button type="button" class="ghost body--XS" style="width: 64px;height: 40px;">White
				{% include '01-icons/chevron-down.twig' %}</button>
		</div>
	</div>

	<button type="button" class="ghost link--bold-L" style="margin:-1%;margin-left:1.9%;width: 232px;height: 56px;">Add item to bag</button>
</div>
