::selection {
  color: var(--color-mark);
  background: var(--color-accent);
}

::-moz-selection {
  color: var(--color-mark);
  background: var(--color-accent);
}

* {
  -webkit-tap-highlight-color: transparent;
}
