::selection {
  color: color(color-white);
  background: color(brand);
}

::-moz-selection {
  color: color(color-white);
  background: color(brand);
}

* {
  -webkit-tap-highlight-color: transparent;
}
