/* ==========================================================================
   #ARTICLE-OBJECT
   ========================================================================== */
.o-article {
  max-width: var(--typography-max-width);
  margin-left: auto;
  margin-right: auto;
}
