<div class="donut">

	<div class="donut one"></div>
	<div class="donut second"></div>
	<div class="donut third"></div>


	<div class="donut--label">
		<h5>
			25%
		</h5>
		<div class="body--S donut--text">
			Some<br>
			important<br>
			statistics<br>
		</div>

	</div>

</div>
